<nav class="navbar navbar-expand-lg navbar navbar-light" style="margin-bottom: 10px; background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/events">События <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users">Пользователи <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/start_modeling">Перезапустить моделирование<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/save_to_csv">Сохранить в .csv<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>