<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аналитика рекламы</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<!-- Навбар -->
{% include "navbar.html" %}
{% block nav %}
{% endblock %}
<!-- Кнопки управления пользователями -->
<div class="btn-group" role="group" aria-label="Top Buttons" style="margin-left: 10px; margin-bottom: 10px">
    <a href="{{ url_for('create_user') }}" class="btn btn-primary" role="button">Создать нового пользователя</a>
    <a href="{{ url_for('clear_users') }}" class="btn btn-primary" role="button">Удалить всех пользователей</a>
</div>

<!-- Таблица с пользователями -->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>